<div class="w-screen h-screen flex justify-center items-center">
    <div class="card w-64 bg-base-200 card-xs shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Register</h2>
            <form [formGroup]="registerForm" class="flex flex-col gap-1" (submit)="register()">
                <input type="text" formControlName="username" placeholder="Username" class="input" />
                <input type="password" formControlName="password" placeholder="Password" class="input" />
                <input type="email" formControlName="email" placeholder="Email" class="input" />
                <div class="card-actions flex-col">
                    <button class="btn w-full btn-primary">Register</button>
                    <button type="button" class="btn w-full btn-secondary btn-outline" (click)="global.go('/auth/login')">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>