<div class="w-screen h-screen flex justify-center items-center flex-col gap-1">
    <div class="card w-64 bg-base-200 card-xs shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Register</h2>
            <form [formGroup]="registerForm" class="flex flex-col gap-1" (submit)="register()">
                <input type="text" formControlName="username" placeholder="Username" class="input" />
                <input type="password" formControlName="password" placeholder="Password" class="input" />
                <input type="email" formControlName="email" placeholder="Email" class="input" />
                <div class="card-actions flex-col">
                    <button class="btn w-full btn-primary" [disabled]="api.isLoading()">
                        @if (api.isLoading()) {<span class="loading loading-spinner"></span>}
                        Register
                    </button>
                    <button type="button" class="btn w-full btn-secondary btn-outline" (click)="global.go('/auth/login')" [disabled]="api.isLoading()">Login</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card w-64 bg-warning card-xs shadow-sm">
        <div class="card-body">
            <div class="text-center text-warning-content">
                <span class="text-lg"><b>Pozor!</b><br></span>
                Jedná se o <b>Testovací Prostředí.</b><br>
                Data mohou být smazána <u>kdykoliv</u>.<br>
                <b><em>NEPOUŽÍVEJTE REÁLNÉ ÚDAJE!!</em></b>
            </div>
        </div>
    </div>
</div>