<div class="w-screen h-screen flex justify-center items-center">
    <div class="card w-64 bg-base-200 card-xs shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Register</h2>
            <div class="card-actions flex-col">
                <button class="btn w-full btn-primary" (click)="register()">Register</button>
                <button class="btn w-full btn-secondary btn-outline" (click)="global.go('/auth/login')">Login</button>
            </div>
        </div>
    </div>
</div>