@reference "../../../styles.css";

.folder-btn {
    @apply opacity-20 transition-opacity;
}

.folder > div:focus-within > .folder-btn,
.folder:hover > div > .folder-btn {
    @apply opacity-100;
}

@keyframes focus {
    from {
        outline-offset: 0.4rem;
        outline-color: transparent;
    }
}

.dropping {
    animation: focus 200ms;
    z-index: 5;
    @apply outline-2 -outline-offset-1 outline-primary;
}

.dragging:active,
.dragging:focus,
.dragging:hover,
.dragging {
    @apply bg-gray-300 dark:bg-gray-700  scale-95;
}

