<div class="toast z-[99999999]">
  @for(toast of g.toasts; track toast.id) {
    <div [class]="'alert alert-soft alert-'+ toast.type">
      @switch (toast.type) {
        @case ("success") {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        }
        @case ("warning") {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
        }
        @case ("error") {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        }
        @default {
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        }
      }

      <span>{{ toast.msg }}</span>
    </div>
  }
</div>



<div class="loading-bar" [class.show]="api.isLoading()"></div>

<router-outlet />

<svg class="hidden">
  <symbol id="material-symbols--folder-outline" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20zm0-2h16V8h-8.825l-2-2H4zm0 0V6z"/></symbol>
  <symbol id="material-symbols--note-outline" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v12q0 .825-.587 1.413T18 22zm7-13V4H6v16h12V9zM6 4v5zv16z"/></symbol>
  <symbol id="material-symbols--arrow-forward-rounded" viewBox="0 0 24 24"><path fill="currentColor" d="M16.175 13H5q-.425 0-.712-.288T4 12t.288-.712T5 11h11.175l-4.9-4.9q-.3-.3-.288-.7t.313-.7q.3-.275.7-.288t.7.288l6.6 6.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-6.6 6.6q-.275.275-.687.275T11.3 19.3q-.3-.3-.3-.712t.3-.713z"/></symbol>
  <symbol id="material-symbols--delete-outline-rounded" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-7 11q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17M7 6v13z"/></symbol>
  <symbol id="material-symbols--stylus-fountain-pen-outline-rounded" viewBox="0 0 24 24"><path fill="currentColor" d="M8.45 16q-.35 0-.625-.213t-.35-.562L5.65 7.575q-.05-.275.013-.525t.262-.45l5.4-4.975Q11.6 1.35 12 1.35t.675.275l5.4 4.975q.2.2.263.45t.012.525l-1.825 7.65q-.075.35-.35.563T15.55 16zm.8-2h5.5l1.525-6.325L13 4.65V7.3q.35.25.55.625t.2.825q0 .725-.512 1.238T12 10.5t-1.237-.513t-.513-1.237q0-.45.2-.825T11 7.3V4.65L7.725 7.675zm-3.875 7q-.5 0-.812-.413t-.138-.912l.125-.3q.2-.625.725-1T6.45 18h11.1q.65 0 1.175.375t.725 1l.125.3q.175.5-.137.913t-.813.412z"/></symbol>
</svg>
    

<button class="btn btn-primary btn-xs btn-circle fixed bottom-2 right-2 shadow-lg" (click)="helpMenu.showModal()">i</button>




<dialog #helpMenu class="modal">
    <div class="modal-box w-[90vw] max-w-100 ">
      <div class="text-green-500 pb-5">
          <img src="/icon.png" class="w-20 h-20 mx-auto">
        </div>
        <h3 class="text-lg font-bold mb-2">Help and Info</h3>
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        
        <div class="flex flex-col md:flex-row gap-2 mb-4">
          <div class="flex gap-2 flex-grow" style="flex-basis: 0;">
            <a class="btn btn-primary btn-lg md:btn-sm flex-grow" style="flex-basis: 0;" href="https://kb.projnull.eu/unlisted:memopad:start" target="_blank">Wiki</a>
            <a class="btn btn-primary btn-lg md:btn-sm flex-grow" style="flex-basis: 0;" href="https://github.com/projNull/MemoPad/issues" target="_blank">Issues</a>
          </div>
          <div class="flex gap-2 flex-grow" style="flex-basis: 0;">
            <a class="btn btn-secondary btn-xs md:btn-sm flex-grow" style="flex-basis: 0;" href="https://github.com/projNull/MemoPad" target="_blank">Source</a>
            <a class="btn btn-secondary btn-xs md:btn-sm flex-grow" style="flex-basis: 0;" href="https://memopad.script.projnull.eu/api/docs" target="_blank">Api Docs</a>

          </div>
        </div>
        <div>
          Created by ProjectNULL for Educational purpuses (Software testing).
          Licensed under MIT.
        </div>
        <div class="collapse p-0 collapse-arrow">
          <input type="checkbox" />
          <div class="collapse-title font-semibold">Used Software</div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Angular</li>
              <li>Java Spring</li>
            </ul>
          </div>
        </div>
        <div>
          <div class="tooltip w-full" data-tip="Shows note and folder IDs.">
            <label class="label w-full flex">
              <span class="flex-grow">Developer Mode</span>
              <input type="checkbox" class="toggle" [(ngModel)]="g.devMode" />
            </label>
          </div>
          
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>


<div class="hidden alert-error alert-info alert-success alert-warning"></div>