@reference "../../styles.css";

.main-loader {
    z-index: 1000;
    @apply fixed top-0 left-0 h-screen w-screen flex justify-center items-center bg-base-100 text-primary flex-col gap-8;
}

.loader-spinner {
    opacity: 0;
    animation-name: loader-anim-1;
    animation-duration: 400ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.loader-anim {
    opacity: 0;
    animation-name: loader-anim-2;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 100%;
}

@keyframes loader-anim-1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes loader-anim-2 {
    0% {
        opacity: 0;
        stroke-width: 4;

        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        stroke-width: 0;
        transform: scale(1);
    }
}