@import "tailwindcss";
@plugin "daisyui";


.note-btn {
    @apply opacity-20 transition-opacity;
}

.note > div:focus-within > .note-btn,
.note:hover > div > .note-btn {
    
    @apply opacity-100;
}


.dragging:active,
.dragging:focus,
.dragging:hover,
.dragging {
    @apply bg-gray-300 dark:bg-gray-700  scale-95;
}